@font-face {
  font-family: Futura;
  src: url("../fonts/Futura-Boo.otf");
  font-weight: 400;
}

html {
  overflow: hidden;
  border-radius: 1px;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent linear-gradient(330deg, #59626C 0%, #000000 100%) 0% 0% no-repeat padding-box !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  position: relative;
  height: 600px;
  width: 350px !important;
}

body {
  height: 100%;
  font-family: Futura !important;
  font-weight: 400;
  padding: 0 !important;
  width: 350px;
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}

.cloud {
  position: absolute;
  width: 350px;
  height: 600px;
  background: transparent url('../images/hive-watermark.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo-white {
  height: 60px;
  opacity: 0.8;
}

#main {
  display: none;
}

#register,
#unlock,
#main,
#forgot_div,
#add_account_div,
#master_check,
#send_div,
#acc_transfers,
#settings_div,
.settings_child,
#pref_div,
#estimation_info,
#add_key_div,
#change_password,
#add_rpc_div,
#witness_div,
#delegation_div,
#tokens_div,
#tokens_settings_div,
#token_send_div,
#confirm_token_send_div,
#powerup_div,
#powerdown_div,
#outgoing_del_div,
#incoming_del_div,
#edit_del_div,
#token_history_div,
#confirm_send_div,
#add_account_types_div,
#add_auth_account_div {
  scrollbar-width: none;
  width: 350px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0 !important;
  padding: 32px !important;
  line-height: 22px;
  font-size: 16px;
  text-align: left;
  text-overflow: clip;
  white-space: normal;
  color: white;
  z-index: 2;
  overflow: scroll;
}

#register p {
  margin-bottom: 30px;
  margin-top: 37.62px;
}

#unlock p {
  margin-bottom: 70px;
  margin-top: 37.62px;
}

#forgot_div p {
  margin-bottom: 70px;
  margin-top: 70px;
}

#master_check p {
  margin-top: 46px;
  margin-bottom: 25px;
}

input:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ECE;
}

.input_container {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.input_img {
  position: absolute;
  bottom: 30.07px;
  left: 20.41px;
  width: 23.85px;
  height: 29.93px;
}

.input_img_right_eye {
  position: absolute;
  bottom: 34.28px;
  right: 20.01px;
  width: 29.99px;
  height: 29.93px;
}

.input_img_right_submit {
  position: absolute;
  bottom: 20.57px;
  right: 21.07px;
  width: 29.99px;
  height: 29.99px;
}

#send_div .input_container img {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 29.99px;
  height: 29.99px;
}

#register input,
#unlock input,
#add_account_div input,
#send_div input,
#add_key_div input,
#change_password input,
#autolock_div input,
#add_rpc_div input,
#witness_div input,
#delegation_div input,
#edit_del_div input,
#powerup_div input,
#token_send_div input,
#powerdown_div input,
#add_account_types_div input,
#add_auth_account_div input {
  width: 100%;
  height: 48.43px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #212529 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
  padding-left: 97px;
  font-size: 20px;
  color: white;
  border-style: unset;
  border-bottom: solid 1px white;
}

#recipient {
  margin-bottom: 0px !important;
}

#unlock input,
#add_account_div input,
#change_password input,
#autolock_div input,
#witness_div input {
  padding-left: 65px;
}

#add_rpc_div input {
  padding-left: 30px;
}

#register input::placeholder,
#unlock input::placeholder,
#add_account_div input::placeholder,
#autolock_div input::placeholder,
#token_send_div input::placeholder,
#witness_div input::placeholder {
  color: #7E8C9A;
  text-transform: uppercase;
  font-family: Futura;
  font-size: 20px;
  padding-top: 10px;
}

#register button,
#unlock button,
#forgot_div button,
#add_account_div button,
#master_check button,
#send_div button,
#delete_account,
#add_key_div button,
#change_password button,
#autolock_div button,
#add_rpc_div button,
#witness_div button,
#delegation_div button,
#edit_del_div button,
#token_send_div button,
#confirm_token_send_div button,
#powerup_div button,
#powerdown_div button,
#confirm_send_div button,
#add_account_types_div button,
#add_auth_account_div button,
#import_settings button {
  border-radius: 5px;
  width: 100%;
  height: 48.43px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-family: Futura;
  text-transform: uppercase;
  background-color: black;
  border: solid 1px black;
  cursor: pointer;
}

#submit_unlock {
  margin-bottom: 12.57px;
}

#change_password button:hover,
#submit_master_pwd:hover,
#submit_unlock:hover,
#check_add_account:hover,
#save_master:hover,
#save_autolock:hover,
#send:hover,
#history:hover,
#forgot_div button:hover,
#add_new_key:hover,
#powerdown_div button:hover,
#powerup_div button:hover,
#delegation_div button:hover,
#edit_del:hover,
#vote_wit:hover,
#token_send_div button:hover,
#confirm_send_div button:hover,
#add_account_types_div button:hover,
#add_auth_account_div button:hover,
#import_settings button:hover {
  background-color: #E31337;
  border: solid 1px #E31337;
}

#change_password p {
  margin-top: 30px;
  margin-bottom: 40px;
}

#confirm_change_pwd {
  margin-top: 40px;
}

#forgot {
  position: absolute;
  right: 32px;
  text-align: right;
  text-decoration: none !important;
  border-bottom: dotted 1px white;
  padding-bottom: 3px;
  color: white;
}

.back_enabled {
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  pointer-events: none;
}

.back_enabled::before {
  background-image: url("../images/left-arrow.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  content: "";
  width: 34.88px;
  height: 30px;
  padding-right: 20px;
  vertical-align: -25%;
  pointer-events: all;
  cursor: pointer;
}

.back_disabled::before {
  content: none;
}

.error_div,
.success_div {
  display: none;
  position: absolute;
  background-color: rgba(201, 53, 53, 0.74);
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 76px;
  padding: 10px 32px 16px 32px;
  color: white;
  font-family: Futura;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
}

.success_div {
  background-color: rgba(0, 0, 0, 0.6);
}

#forgot_div,
#unlock,
#register,
#add_key_div,
#add_account_div,
#message_account_checked,
#master_check,
#send_div,
#acc_transfers,
.account_info,
.account_info_content,
.memo,
.settings_child,
#pref_div,
#estimation_info,
#change_password,
#autolock_div,
#add_rpc_div,
#witness_div,
#delegation_div,
#tokens_div,
#token_send_div,
#confirm_token_send_div,
#tokens_settings_div,
#powerup_div,
#powerdown_div,
#outgoing_del_div,
#incoming_del_div,
#edit_del_div,
#token_history_div,
#confirm_send_div,
#add_account_types_div,
#add_auth_account_div {
  display: none;
}

#check_add_account {
  margin-top: 22px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.key_checkbox,
.checkbox_memo {
  display: block;
  height: 32px;
  margin-bottom: 35px;
}

.checkbox_memo .checkbox_container div {
  font-size: 20px;
  padding-top: 10px;
  color: white;
}

.checkbox_memo {
  display: none;
}

/* The container */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 55px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_container div {
  margin-top: 5px;
  color: white;
}

.checkbox_container div:first-of-type {
  color: white;
  margin-top: 0px;
  text-transform: uppercase;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: rgba(255, 255, 255, 0.65);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 11.52px;
  top: 6.4px;
  width: 6.4px;
  height: 11.8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main_header {
  height: 30px;
}

.main_header img.icon {
  height: 30px;
  float: left;
  margin-top: -5px;
  opacity: 0.8;
}

.main_header span {
  height: 30px;
  width: 244.79px;
  display: inline-block;
  text-align: right;
}

#lock,
#settings {
  height: 100%;
  width: auto;
  cursor: pointer;
}

#lock {
  margin-right: 19.8px;
  margin-left: 19.8px;
}

.custom-select {
  position: relative;
  width: 100% !important;
  border-radius: 5px;
  margin-top: 20px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #58616A;
  padding-left: 20px !important;
  height: 50px;
}

#custom_select_rpc .select-selected {
  padding-top: 12px;
}

.select-selected:before {
  background-image: url("../images/arobase-light.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  padding-right: 15px;
  vertical-align: -13%;
  pointer-events: all;
  cursor: pointer;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: white transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent white transparent;
  top: 11px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  box-sizing: border-box;
  font-family: Futura;
  font-size: 20px;
  line-height: 28px;
  padding: 9px 0px 8px 65px;
  /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
  cursor: pointer;
  border-radius: 3px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 350px;
  overflow: auto;
}

.custom-select-main .select-items div:last-of-type {
  padding-left: 20px !important;
  text-transform: uppercase;
}

.custom-select-main .select-items div:last-of-type::before {
  content: "+";
  font-size: 30px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  padding-right: 15px;
  vertical-align: -13%;
  margin-left: 12px;
  pointer-events: all;
  cursor: pointer;
}

.usernames {
  width: 350px !important;
  height: 43px;
  margin-left: -32px;
  margin-right: -32px;
}

.usernames .select-items div {
  padding-left: 64px;
}

.usernames .select-selected:after {
  right: 32px;
}

.usernames .select-selected:before {
  margin-left: 12px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #E31337;
}

#currency_send {
  display: inline-block;
  width: 106px !important;
  /*height: 100% !important;*/
  margin-top: 0px;
  background-color: rgba(33, 172, 204, 0.75);
  height: 48px;
  margin-bottom: 1px;
}

#currency_send .select-items div::before,
#custom_select_rpc .select-items div::before,
#currency_send .select-selected::before,
#custom_select_rpc .select-selected::before {
  content: none;
  padding: 0;
}

#currency_send .select-items div,
#currency_send .select-selected,
#custom_select_rpc .select-items div,
#custom_select_rpc .select-selected {
  padding-left: 10px !important;
}

#custom_select_rpc .select-items {
  max-height: 250px;
  overflow-x: hidden;
}

#wallet_amt,
#wallet_currency {
  display: inline-block;
  height: 98px;
  text-align: right;
  font-size: 20px;
  line-height: 25px;
}

#wallet {
  display: inline-block;
  margin-left: -32px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  margin-right: -32px;
  padding: 13px 0;
}

#wallet_amt div,
.wallet_currency {
  margin-bottom: 20px;
}

#wallet_amt div:last-of-type,
#wallet_sp {
  margin-bottom: 0px !important;
}

#wallet_currency {
  width: 100px;
  margin-left: 5px;
}

.currency-section {
  position: relative;
}

.wallet_currency::after {
  content: "";
  background-image: url("../images/downarrow.png");
  background-size: 20.6px 10.25px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 10.25px;
  width: 20.6px;
  vertical-align: -8%;
  margin-left: 18px;
  pointer-events: auto;
  cursor: pointer;
}

.dropdown-open::after {
  background-image: url("../images/uparrow.png") !important;
}

.dropdown img {
  height: 18px;
  width: 18px;
  padding-left: 17px;
  padding-right: 14px;
}

.dropdown {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0px;
  color: #FFFFFF !important;
  font-size: 15px;
  line-height: 21px;
  display: none;
}

.dropdown div {
  width: 160px;
  height: 35px;
  background: black;
  cursor: pointer;
  text-align: left;
  padding-top: 12px
}

.dropdown div:hover {
  background-color: #E31337;
}

#wallet_amt {
  width: 181px;
  float: left;
  padding-left: 32px;
}

#voting_power {
  height: 67px;
  padding-top: 15px;
  color: white;
  line-height: 20px;
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg_rc,
#bg_voting {
  position: absolute;
  height: 52px;
  width: 87px;
  top: 155px;
  left: 0px;
}

#bg_rc {
  left: 175px !important;
}

#voting_power_inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#voting_power img {
  height: 11px;
}

#vm_div {
  float: left;
  width: 280px;
}

#vm_title::before {
  background-image: url('../images/bg_voting.png');
  background-size: 13.4px;
  margin-right: 3px;
  display: inline-block;
  content: "";
  width: 13.4px;
  height: 13.4px;
}

#rc_title::before {
  background-image: url('../images/bg_rc.png');
  background-size: 19.15px 13.4px;
  margin-right: 3px;
  display: inline-block;
  content: "";
  width: 15.15px;
  height: 13.4px;
}

#account_value {
  display: inline-block;
  margin: 0px -32px 10px -32px;
  width: 350px;
  background: rgba(227, 19, 55, 0.32) 0% 0% no-repeat padding-box;
  box-sizing: border-box;
  padding: 8px 0;
  color: white;
}

#account_value_header {
  line-height: 19px;
  font-size: 15px;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

#account_value_header::after {
  content: "";
  background-image: url("../images/icon_info_white.png");
  background-size: 12.25px 12.25px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 12.25px;
  width: 12.25px;
  vertical-align: -8%;
  margin-left: 7px;
  pointer-events: auto;
  cursor: pointer;
}

#account_value_amt {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
}

.main-button {
  height: 51px;
  width: 127px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px transparent;
  border-radius: 5px;
  background-color: #7E8C9A;
  background-size: 51px 51px;
  background-repeat: no-repeat;
}

.main-button:nth-child(even) {
  margin-right: 28px;
}

.main-button:nth-of-type(1),
.main-button:nth-of-type(2) {
  margin-bottom: 15px;
  margin-top: 14px;
}

#send {
  background-image: url("../images/btn-bg_send.png");
}

#history {
  background-image: url("../images/btn-bg_history.png");
}

#tokens {
  background-image: url("../images/btn-bg_tokens.png");
}

#witness {
  background-image: url("../images/solo.png");
}

#send_div input {
  padding-left: 10px;
}

#recipient {
  padding-left: 65px !important;
}

.transfer_balance {
  margin: 25px -32px 25px -32px;
  padding: 18px 0px 15.21px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  text-align: center;
}

.transfer_balance div:first-of-type {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
}

.transfer_balance div:last-of-type {
  font-size: 20px;
  line-height: 28px;
}

.memo {
  text-overflow: clip;
}

#send_div #amt_send {
  width: 167px;
  margin-right: 7px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 5px;
}

#send_transfer {
  display: block;
  padding: 0 20px 0 20px;
  font-size: 1em;
}

#acc_transfers .back_menu {
  margin-bottom: 30px;
}

#acc_transfers {
  width: 100%;
  height: 100%;
  ;
}

#transfer_rows {
  height: 460px;
  overflow-y: scroll;
  margin-left: -32px;
  margin-right: -32px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
}

.memo {
  margin-top: 6px;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.show-scroll::-webkit-scrollbar {
  width: 3px;
}

.show-scroll::-webkit-scrollbar-thumb {
  background: #E31337;
  width: 3px !important;
}

/* optional: show position indicator in red */
.transfer_row {
  padding: 11px 32px 11px 32px;
}

.transfer_row:nth-child(odd) {
  background-color: rgba(33, 37, 41, 0.68);
}

.transfer_row:nth-child(even) {
  background-color: rgba(227, 19, 55, 0.32);
}

.transfer_row span {
  display: inline-block;
}

.transfer_row span:nth-child(odd) {
  width: 183px;
}

.transfer_date,
.transfer_val {
  margin-bottom: 6px;
}

.transfer_row span:nth-child(even) {
  width: 100px;
  text-align: right;
}

#settings_div {
  display: none;
  width: 100%;
}

.setting_row {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0px -32px 0px -32px;
  padding: 0 32px 0 32px;
  vertical-align: middle;
  cursor: pointer;
}

#settings_div div:first-of-type {
  margin-bottom: 46px;
}

.setting_row img {
  height: 20.6px;
  margin-right: 35.8px;
}

.setting_row span {
  display: inline-block;
  margin-top: 0px;
  font-size: 16px;
}

.setting_row:nth-child(odd),
.keys_info:nth-child(odd) {
  background-color: rgba(33, 37, 41, 0.68);
}

.setting_row:nth-child(even),
.keys_info:nth-child(even) {
  background-color: rgba(227, 19, 55, 0.32);
}

#about_div div:first-of-type {
  margin-bottom: 30px;
}

#about_div .about-content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  position: absolute;
  left: 0;
}

#about_div .about-content a {
  color: white;
}

#manage_keys .back_pref {
  margin-bottom: 44px;
}

#manage_keys .usernames {
  margin-bottom: 24.6px;
}

.keys_info {
  position: relative;
  min-height: 80px;
  margin: 0px -32px 0px -32px;
  padding: 11px 32px 10px 32px;
  box-sizing: border-box;
}

.keys_info div {
  font-size: 10px;
  line-height: 10px;
}

.keys_info span {
  font-size: 16px;
  line-height: 16px;
}

.keys_info span:first-of-type {
  width: 186px;
  float: left;
  display: inline-block;
}

.remove_key {
  cursor: pointer;
  display: inline-block;
  width: 100px;
  ;
  color: #c93535;
  text-align: right;
}

.private_key {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.public_key {
  cursor: pointer;
}

.img_add_key {
  display: none;
  position: absolute;
  top: 0;
  width: 270px;
  height: 100%;
  padding-right: 32px;
  background-image: url('../images/plus_key.png');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center;
  cursor: pointer;
}

#delete_account {
  margin-top: 40px;
  background-color: #8e0000;
}

#estimation_info div:first-of-type {
  margin-bottom: 46px;
}

#copied {
  width: 100%;
  height: 34px;
  background-color: black;
  color: white;
  padding: 0px 32px 0 32px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copied div::before {
  content: "";
  display: inline-block;
  height: 10.6px;
  width: 10.60px;
  background-image: url("../images/copy.png");
  background-repeat: no-repeat;
  background-size: 10.6px 10.6px;
  padding-right: 25px;
}

#copied div {
  width: 100%;
}

#fake_input {
  position: absolute;
  left: -9999px;
}

#add_key_div p {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 50px;
}

#add_key_div input {
  padding-left: 65px;
}

.deletePref,
.deleteCustomRPC {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 4px;
}

#custom_rpc {
  height: 250px;
  margin-top: 20px;
  overflow-y: scroll;
}

.preferences-site-container {
  padding: 5px 10px;
}

#pref {
  max-height: 240px;
  overflow: scroll;
  background-color: black;
  margin: 0 -32px -10px -32px;
  padding: 10px 32px 0px 32px;
}

#pref h4 {
  margin: 5px 0;
}

.pref_name {
  display: inline-block;
}

#pref_div .back_pref {
  margin-bottom: 40px;
}

#witness_votes {
  display: block;
  height: 114px;
  background-color: black;
  position: fixed;
  bottom: -72px;
  z-index: 4;
  width: 100%;
  padding: 4px;
  color: white;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  opacity: 0;
}

#witness_toggle {
  cursor: pointer;
  padding: 0 20px;
}

.witness_container {
  position: relative;
  display: inline-block;
  width: 108px;
  margin-top: 10px;
}

.witness_container button {
  width: 107px;
  height: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 12px;
  outline: inherit;
  padding-left: 28px;
  text-align: left;
}

.witness_container button:hover {
  background-color: #59626C !important;
}

.witness_container img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#close_witness {
  width: 20px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.loader {
  text-align: center;
}

.loader img {
  width: 30px;
}

#pref_div .info {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 20px -32px 0px -32px;
  padding: 10px 32px 10px 32px;
  vertical-align: middle;
}

#autolock_div .back_pref {
  margin-bottom: 60px;
}

#mn {
  margin-top: 10px;
  margin-bottom: 50px;
}

#claim {
  height: 30px;
  width: 30px;
  background-color: rgba(163, 17, 42, 1);
  float: left;
  box-shadow: rgba(163, 17, 42, 1) 0px 0px 10px;
  background-image: url("../images/claim.png");
  background-size: 17.41px 19.57px;
  margin-left: 115px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
}

.dash-button:hover {
  background-color: #E31337 !important;
}

#claim_rewards {
  background-color: rgba(0, 0, 0, 0.86);
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
  display: none;
}

#claim_rewards p {
  color: white;
  font-size: 16px;
  font-family: Futura;
  line-height: 18px;
  width: 209px;
  margin: auto;
  text-align: center;
  margin-bottom: 45.77px;
}

#close_claim {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

#gift {
  width: 76px;
  height: 85.84px;
  margin-left: 137px;
  margin-top: 109.09px;
  margin-bottom: 40.06px;
}

#claim_rewards button {
  width: 127px;
  height: 51px;
  color: white;
  background-color: #58616A;
  border-radius: 5px;
  border: solid 1px #58616A;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  font-family: Futura;
  margin-left: 32px;
}

#claim_rewards button:disabled,
#redeem_rewards:disabled {
  background-color: #dddddd !important;
  cursor: not-allowed;
  color: #1E8CA7;
}

#redeem_rewards {
  background-color: #7E8C9A !important;
}

#wit_disclaimer {
  margin-top: 33px;
  display: inline-block;
  margin-bottom: 7.5px;
}

#votes_remaining {
  font-size: 29px;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 29.5px;
}

.wit-menu {
  width: 90px !important;
}

#top100,
#voted {
  margin-right: 3.5px;
}

.active_wit {
  background-color: #E31337 !important;
  outline: none;
}

#proxy {
  margin-top: 16px;
  margin-left: -32px;
  margin-right: -32px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 43px;
  font-size: 20px;
  padding-top: 18px;
  padding-left: 32px;
  color: white;
}

#proxy div {
  width: 286px;
}

#proxy div::after {
  content: "";
  background-image: url("../images/delete.png");
  background-size: 18px 18px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  text-align: right;
  float: right;
  pointer-events: auto;
  padding-top: 1px;
  cursor: pointer;
}

.no_active::after {
  background-image: none !important;
}

#proxy {
  display: none;
}

#list_wit,
#top100_div {
  max-height: 290px;
  margin-top: 16px;
  margin-left: -32px;
  margin-right: -32px;
  overflow: visible scroll;
}

.witness-row {
  padding: 12px 32px 12px 32px;
  font-size: 16px;
}

.witness-row:nth-of-type(odd) {
  background-color: rgba(33, 37, 41, 0.68);
}

.witness-row:nth-of-type(odd) {
  background-color: rgba(227, 19, 55, 0.32);
}

.isActive {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  width: 75px;
}

.witName {
  display: inline-block;
  width: 190px;
}

#list_wit img {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.sub_wit {
  display: none;
}

#voted_div {
  display: block;
}

.wit-voted::after,
.wit-not-voted::after {
  content: "";
  background-image: url("../images/voted.png");
  background-size: 18px 18px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  text-align: right;
  float: right;
  pointer-events: auto;
  padding-top: 1px;
  cursor: pointer;
}

.wit-not-voted::after {
  opacity: 0.3;
}

.wit-loading::after {
  background-image: url("../images/loading.gif") !important;
}

.wit-rank {
  display: inline-block;
  width: 30px;
}

.no_cursor::after,
.no_cursor {
  cursor: default !important;
  pointer-events: none;
}

#custom_select_wit .select-selected::before {
  background: none !important;
}

#custom_select_wit .select-selected {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#custom_select_wit {
  margin-top: 0 !important;
}

#vote_wit {
  width: 100% !important;
  margin-top: 40px;
}

.del_left,
.power_left,
.token_left {
  display: inline-block;
  width: 120px;
}

.del_right,
.power_right,
.token_right {
  display: inline-block;
  text-align: right;
  width: 165px;
}

#delegation_values,
#edit_delegation_values,
.power,
.token_available {
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: -32px;
  margin-right: -32px;
  padding-left: 32px;
  padding-right: 32px;
}

#edit_delegation_values {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#delegation_values div {
  font-size: 20px;
  line-height: 28px;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
}

#edit_delegation_values div {
  font-size: 16px;
  line-height: 18px;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

#delegation_values div:last-of-type {
  font-size: 18px;
  line-height: 25px;
}

#outgoing_del:after {
  content: '';
  height: 1px;
  background: white;
  display: block;
  margin-top: 1.5px;
}

#outgoing_del,
#incoming_del {
  cursor: pointer;
}

.sp_del {
  display: inline-block;
  width: 108px !important;
  background-color: #7E8C9A;
  padding-top: 15px;
  padding-bottom: 11px;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
}

#username_del {
  margin-top: 32px;
}

#amt_del,
#amt_edit_del {
  padding-left: 0px !important;
  width: 167px !important;
  margin-right: 7px;
  text-align: right;
}

#delegation_div .input_img {
  position: absolute;
  bottom: 30.07px;
  left: 20.41px;
  width: 30px;
  height: 30px;
}

#delegation_div input::-webkit-input-placeholder {
  color: white;
}

#send_del {
  background-color: black !important;
}

#encrypt_memo {
  display: none
}

#send_del:hover, #send_transfer:hover {
  background-color: #E31337 !important;
}

#delegation_div .disabled,
#edit_del_div .disabled,
#powerup_div .disabled,
#powerdown_div .disabled,
#token_send_div .disabled {
  background-color: #dddddd !important;
  border-color: #dddddd !important;
  color: #1E8CA7 !important;
  pointer-events: none;
}

#wrap_send_del,
#wrap_edit_del {
  cursor: not-allowed !important;
}

#total_outgoing,
#total_incoming {
  font-size: 20px;
  line-height: 28px;
  margin-top: 47px;
}

#total_outgoing span:last-of-type,
#total_incoming span:last-of-type {
  display: inline-block;
  float: right;
  text-align: right;
}

#list_outgoing,
#list_incoming {
  margin-top: 54px;
  margin-left: -32px;
  margin-right: -32px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  height: 357px;
  overflow-y: scroll;
}

.line_outgoing,
.line_incoming {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
}

#list_outgoing div:nth-of-type(even),
#list_incoming div:nth-of-type(even),
#tokens_list div:nth-of-type(even) {
  background-color: rgba(227, 19, 55, 0.32);
}

#list_outgoing div:nth-of-type(odd),
#list_incoming div:nth-of-type(odd),
#tokens_list div:nth-of-type(odd) {
  background-color: rgba(33, 37, 41, 0.68);
}

.line_outgoing span:first-of-type {
  display: inline-block;
  width: 147px;
}

.line_outgoing span:last-of-type {
  display: inline-block;
  width: 95px;
  text-align: right;
  margin-right: 23px;
}

.line_incoming span:first-of-type {
  display: inline-block;
  width: 161px;
}

.line_incoming span:last-of-type {
  display: inline-block;
  width: 125px;
  text-align: right;
}

#list_outgoing img {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}

#username_del {
  margin-bottom: 16px;
}

#username_del img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
}

#username_del span {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.power,
.token_available {
  margin-top: 30px;
  margin-bottom: 30px;
}

.power div,
.token_available div {
  font-size: 20px;
  line-height: 28px;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
}

#powerup_div #amt_pu,
#powerdown_div #amt_pd {
  padding-left: 0px !important;
  width: 167px !important;
  margin-right: 7px;
  text-align: right;
  margin-bottom: 5px;
}

#powerup_div p,
#powerdown_div p {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

#powering_down_div {
  margin-top: -20px !important;
  margin-bottom: 20px !important;
}

#powering_down_div div {
  padding-top: 3px;
  padding-bottom: 3px;
}

#tokens_div .back_enabled {
  width: 80%;
  display: inline-block;
  margin-bottom: 20px;
}

#settings_tokens {
  float: right;
  width: 30px;
  vertical-align: bottom;
  margin-top: 15px;
}

#tokens_list {
  margin-top: 30px;
  margin-left: -32px;
  margin-right: -32px;
}

.row_token_balance span:first-of-type {
  display: inline-block;
  width: 112px;
}

.row_token_balance span:last-of-type {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.row_token_balance img {
  width: 20px;
  padding-left: 20px;
  vertical-align: -15%;
}

.row_token_balance {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
}

#tokens_div img {
  cursor: pointer;
}

#existing_tokens {
  height: 362px;
  overflow-y: scroll;
}

.row_existing_tokens span {
  display: inline-block;
}

.name_token {
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

#token_send_div input {
  padding-left: 20px;
}

#tok {
  display: inline-block;
  width: 108px !important;
  background-color: #7E8C9A;
  padding-top: 15px;
  padding-bottom: 11px;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
}

#amt_tok {
  width: 167px !important;
  margin-right: 7px;
  text-align: right;
}

.token_available {
  margin-bottom: 25px;
  margin-top: 30px;
}

#token_send_div p {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 0px;
}

#send_tok {
  margin-top: 20px;
}

.issuer_token {
  display: inline-block;
  margin-left: 30px;
}

.issuer_token,
.symbol_token,
.supply_token {
  font-size: 15px;
}

.img_token {
  width: 18px;
  float: right;
}

#history_tokens_rows {
  height: 460px;
  overflow-y: scroll;
  margin-left: -32px;
  margin-right: -32px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
}

.memo {
  margin-top: 6px;
  font-style: italic;
}

.history_tokens_row {
  padding: 11px 32px 11px 32px;
}

.history_tokens_row:nth-child(odd) {
  background-color: rgba(33, 37, 41, 0.68);
}

.history_tokens_row:nth-child(even) {
  background-color: rgba(227, 19, 55, 0.32);
}

.history_tokens_row span {
  display: inline-block;
}

.history_tokens_row span:nth-child(odd) {
  width: 170px;
}

.transfer_date,
.transfer_val {
  margin-bottom: 6px;
}

.history_tokens_row span:nth-child(even) {
  width: 109px;
  text-align: right;
}

#token_history_div .back_enabled {
  margin-bottom: 26px;
}

.history_memo {
  display: none;
}

.history_row_memo {
  cursor: pointer;
}

#confirm_send_transfer,
#confirm_send_tok {
  margin-top: 30px;
}

#confirm_send_div .back_enabled {
  margin-bottom: 30px;
}

#autocomplete_container {
  padding-top: -20px;
  position: relative;
}

#add_by_keys {
  margin-top: 40px;
  margin-bottom: 30px;
}

#add_import_keys {
  margin-top: 30px;
}

#add_account_types_div p {
  margin-top: 20px;
}

#import_settings button:first-of-type {
  margin-bottom: 30px;
  margin-top: 20px;
}

#keychainify, {
  display: none;
}

.preferences-site-container {
  background-color: rgba(227, 19, 55, 0.32);
  width: 100%;
  position: relative;
  margin-left: -32px;
  padding-left: 64px;
  margin-right: -32px;
}

.preferences-site-container img {
  position: absolute;
  padding-right: 32px;
  right: 0;
}

input[type="checkbox"] {
  display: none;
}

#tokens_settings_div a:visited {
  color: inherit;
}

.send_max_div {
  width: 165px;
  text-align: right;
  display: inline-block;
  margin-bottom: 10px;
}

.send_max {
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-bottom: dotted 2px white;
}

#transfer_warning {
  color: red;
  font-size: 18px;
  font-weight: bold;
}